* {
  --color-lighter-blue: #D9EDF7;
  --color-light-blue: #0087CB;
  --color-darker-blue: #67708F;
  --color-blue: #063C67;
  --color-dark-blue: #313146;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.site-container {
  min-height: 100vh;
}

main {
  flex: 1;
  background-color: #fcfcfc;
}

.btn-primary,
.btn-outline-primary {
  font-weight: bold;
  outline: none;
  border: none;
  /* background-color: #f0c040;
  color: #000; */
  background-color: var(--color-lighter-blue);
  color: var(--color-blue);
  box-shadow: 0.5px 0.5px 1px 0.5px #888;
}
.btn-primary:hover {
  background-color: var(--color-blue);
  color: white;
  /* background-color: rgb(255,127,0);
  color: black; */
}





/* BUTTon STUFF */
.btn-subtle {
  background-color: #efeffe;
  /* box-shadow: 0.5px 0.5px 1.5px var(--color-dark-blue); */
  box-shadow: 1px 1px 1.5px var(--color-blue);
  /* box-shadow: 0.5px 1.5px var(--color-dark-blue); */
  border-radius: 3px;
  /* transform: translateY(-1px); */
  /* transition: transform 0.01s ease-in-out; */
  
}
.btn-subtle:hover {
  background-color: #efeffe;
  color: var(--color-dark-blue);
  /* box-shadow: 1px 1px 1.5px var(--color-blue); */
  /* box-shadow: 0.5px 1.5px var(--color-dark-blue); */
  /* transform: translateY(1px); */
  /* transform: translateX(0.5px); */
  background-color: #f8f9fa;
  border: none;
}

.btn-border-topleft {
  /* border-top: 2px solid white; */
  /* border-left: 2px solid white; */
  box-sizing: border-box;
}
.btn-border-topleft:hover {
  box-shadow: 0 0 15px inset #d2acac25;
  background-color: #f8f9fa;
  border: none;
  border-top: 1px solid white;
  border-left: 1px solid white;
}







.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product {
  border: 0.5px solid #dddddd;
  margin: 1rem;
}

.product img {
  width: 100%;
  max-width: 400px;
}

.product-info {
  padding: 1rem;
}

.rating span {
  color: #ffd700;  /*gold; should be #ffc000*/
  text-shadow: 0 0 0.5px #888;
}

.rating .numReviews {
  color: #c99700;
}

.img-large {
  max-width: 100%;
}

.img-thumbnail {
  height: 80px;
}

.small-container {
  max-width: 600px;
}

footer {
  background-color: #212529;
  color: white;
  padding: 1rem;
}

.checkout-steps > div{
  /* border-bottom: 0.2rem solid #a0a0a0;
  color: #a0a0a0; */
  border-bottom: 0.2rem solid var(--color-lighter-blue);
  color: var(--color-lighter-blue);
}

.checkout-steps > div.active {
  /* border-bottom: 0.2rem solid gold;
  color: gold; */
  border-bottom: 0.2rem solid var(--color-blue);
  color: var(--color-blue);
  /* border-bottom: 0.2rem solid #f08000;
  color: #f08000; */
}


/*sidebar*/
.navbar-brand {
  font-weight: bold;
}

.side-navbar {
  width: 240px;
  height: 100%;
  position: absolute;
  left: -300px;
  /* background-color: #100901; */
  /* background-color: #212529; */
  /* background-color: #fcfcfc; */
  /* box-shadow: 15rem 0 50px inset #fcfcfc; */
  /* box-shadow: -1.125rem 0 7rem 10px inset #212529; */
  box-shadow: -20px 0 20px -20px #212529 inset;
  box-shadow: -16px 0 40px -20px #212529 inset;
  transition: 0.5s;
  z-index: 10;
  padding: 3rem 6rem 3rem 3rem; 
}

/* .side-navbar:before,
.side-navbar:after {
  box-shadow: -20px 0 20px -20px #212529 inset;
  content: " ";
  height: 100%;
  left: 220px;
  position: absolute;
  top: 0;
  width: 20px;
} */

.site-container {
  transition: 0.4s;
}

.active-cont {
  margin-left: 240px;
}

.active-nav {
  left: 0;
}

.text-bold {
  font-weight: bold;
}